@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1 {
    font-family: Playfair Display;
    padding: 20px;
}

body {
  margin: 0;
  font-family: 'Playfair Display';
}

.center {
  display: flex;
  gap: 20px;
}

.right-panel2 {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display';
  font-size: 1rem;
  background-color: #FEDEFF;

}

.left-panel2 {
  flex: 1;
  padding: 30px;
  position: relative;
  align-items: center;
  font-family: 'Playfair Display';
  background-color: #FEDEFF;
}

.hero-img2 {
  width: 550px;          /* Make sure width and height are equal */
  height: 550px;
  object-fit: cover;     /* Ensures the image fills the shape without distortion */
  border-radius: 50%;    /* This makes it a circle */
  overflow: hidden;      /* Ensures anything outside the circle is hidden */
}