@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Playfair Display';
  background-color: #FEDEFF;
  color:#93C6E7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-family: 'Playfair Display';
  color: #93C6E7;
  background-color: #FEDEFF;
}

.nav-links a, .contact-button {
  margin-left: 20px;
  text-decoration: none;
}

.contact-button {
  background-color: #93C6E7;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.hero {
  display: flex;
  justify-content: space-between; /* or center */
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap; /* for responsiveness */
}

.hero-img {
  width: 100%;
}

.intro {
  margin-top: 20px;
  font-size: 0.9rem;
}

.portfolio-outline {
  font-size: 4rem;
  font-family: 'Playfair Display';
  color: #93C6E7;
  opacity: 0.5;
}

.social-links p {
  margin: 40px 0;
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 2rem;
}

.scroll-indicator {
  text-align: center;
  font-family: 'Playfair Display';
  background-color: #93C6E7;
  border-radius: 50%;
  width: 120px;
  margin: 30px auto;
  padding: 10px;
}

.center {
  display: flex;
  gap: 20px;
}

.right-panel{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display';
  font-size: 1rem;
  flex: 1;
  padding: 20px;
}

.left-panel {
  flex: 1;
  background-color: #B9F3FC;
  padding: 30px;
  position: relative;
  align-items: center;
  font-family: 'Playfair Display';
}

.portfolio-title {
  width: 110%;
  object-fit: cover;
  border-radius: 10px;
}

.secondPage {
  padding-top: 100px;
}

.middle {
  padding-top: 100px;
  text-align: center;
  font-size: 5rem;
  justify-content: space-between;
}
